<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
    <head>
        <script src="/jquery/jquery.min.js"></script>
        <!-- <link> -->
    </head>
    <body>
        <div>Favorite Contacts</div>
        <div id="favContacts" style="min-height: 100px; max-width: 450px;"></div>
        <div>Other Contacts</div>
        <div id="otherContacts" style="min-height: 100px; max-width: 450px;"></div>
    </body>
    <script src="/views/custom.js"></script>
</html>